.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    padding: 10px;
}

.body {
    margin-left: 15%;
    width: 55%;
    border: 1px solid #ccc;
}
.body2 {
    width: 30%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid2 {
    display: grid;
    grid-template-columns: 1fr;
/*    border: 1px solid #ccc;
    border-radius: 5px;*/
    margin-bottom: 5px;
}

.row {
    display: grid;
    align-items: center;
    padding: 10px;
    /*font-family:*/
}

.label 
{
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
}
.label2 {
    margin-left: 100px;
    font-size: 25px;
    font-weight: bold;
}
.labelDesc {
    font-size: 25px;
    font-weight: bold;
}

.value 
{
    margin-left: 50px;
    font-size: 20px;
}
.value2 
{
    margin-left: 100px;
    font-size: 20px;
}

.desc
{
    font-size: 16px;
}

p{
    margin-bottom:0;
}
