.container {
    display: grid;
    grid-template-columns:1fr 5fr 1fr;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
}

.body {
    border: 1px solid #ccc;
    background-color: white;
}
.body2 {
    margin-left: 5px;
    font-weight: bold;
    display:flex;
    flex-direction:column;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5px;
}

.row {
    display: grid;
    align-items: center;
    padding: 10px;
}

.label {
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: "work sans";
}
.label2 {
    margin-left: 100px;
    font-size: 25px;
    font-weight: bold;
    font-family: "work sans";
}
.labelDesc {
    font-size: 25px;
    font-weight: bold;
}

.value {
    margin-left: 20px;
    font-size: 20px;
    font-family: "work sans", sans-serif;
}
.value2 {
    margin-left: 100px;
    font-size: 20px;
    font-family: "work sans", sans-serif;
}

.desc {
    margin-left: 20px;
    margin-right: 30px;
    font-size: 16px;
    white-space: pre-line;
}

p{
    margin-bottom:0;
}

#backButton {
    background-color: deepskyblue;
    color: white;
    width: 120px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
}

.checkBox
{
    margin-right: 5px;
}

.webUrl
{
    text-decoration: underline;
}

li 
{
    list-style-type: none;
}

ul
{
    margin-right: 0px;
}