.dropdown 
{
    position: center;
    width:fit-content;
}
.dropdown-button 
{
    background-color: blue;
    color: white;
    height: 20px;
    width: 100px;
    cursor: pointer;
}

.dropdown-list 
{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-top: none;
    display: none;
}

    .dropdown-list li 
    {
        padding: 10px;
        cursor: pointer;
    }

.dropdown:hover .dropdown-list 
{
    display: block;
}
