.dropdown 
{
    position: center;
    width:fit-content;
}
.dropdown-button 
{
    background-color: darkorange;
    color: white;
    width: 150px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 250px;
/*    margin-inline: 250px;*/
}

.dropdown-list {
    list-style: none;
    width: 150px;
    /*    margin-inline: 250px;*/
    padding: 0;
    position: absolute;
    top: 30px;
    left: 250px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-top: none;
    display: none;
    max-height: 225px;
    overflow-y: auto;
}
.dropdown-list label
{
    margin-inline: 5px;
    cursor: pointer;
}

    .dropdown-list li 
    {
        padding: 10px;
        cursor: pointer;
    }

.dropdown:hover .dropdown-list 
{
    display: block;
}
