.grid {
    display: grid;
    grid-template: "a b c"/ 1fr auto 1fr;
    justify-content: space-between;
    background-color: #e0e0e0;
}

.links {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 300px;
}

.link{
    padding-right: 100px;
    margin: auto;
    font-size:36px;
}

a{
    text-decoration:none;
    color:black;
}

.logout{
    display:flex;
    flex-direction:row;
    height: 35%;
    justify-content: flex-end;
    padding-right:20px;
}

.brand{
    height:90px;
}

