#homeSearchJobs {
    width: 350px;
    /*justify-content: space-between;*/
    margin-right: 5px;
}
#homeSearchLocation
{
    margin-right: 10px;
    width: 450px;
}
#homeSearchButton
{
    margin-right: 10px;
}

form{
    height: 40px;
}

#searchStuff{
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}


#searchStuff > div{
    display: flex;
}
