#homeSearchJobs {
    width: 350px;
    /*justify-content: space-between;*/
    margin-right: 5px;
}
#homeSearchLocation
{
    margin-right: 10px;
    width: 450px;
    border-left:2px solid blue;
}
#homeSearchFields{
}
#homeSearchButton
{
    margin-right: 10px;
}

#test{

    display:grid;
    border: 2px solid red;
    grid-template-columns: 5fr 5fr 2fr;
}

form{
    height: 40px;
}

#searchStuff{
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}


#searchStuff > div{
    display: flex;
}
