#homeSearchLocation {
    position: absolute;
    left: 621px;
    height: 40px;
    width: 400px;
}

#homeSearchJobs {
    margin-inline: 250px;
    height: 40px;
    width: 350px;
}

#homeSearchFields {
    display: flex;
    justify-content: space-between;
}
#homeSearchButton
{
    position: absolute;
    right: 902px;
    top: 118px;
}
