#homeSearchJobs {
    width: 350px;
    /*justify-content: space-between;*/
    margin-right: 5px;
}
#homeSearchLocation
{
    margin-left: 20px;
    border-left:5px solid blue;
    outline: none;
}
#homeSearchFields
{
    display: flex;
}
#homeSearchButton
{
}

#test{
    display:grid;
    grid-template-columns: 5fr 5fr 2fr;
    padding-left: 5px;
}
#dates
{
    margin-left: 25px;
}

form{
    height: 40px;
}

#searchStuff{
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}


#searchStuff > div{
    display: flex;
}

button, #homeSearchJobs, #homeSearchLocation, #homeSearchButton, #settingsFreeSearch {
    border-radius: 10px;
    padding: 5px;
}

#favoriteCheckBox
{
    margin-left: 170px;
    margin-top: 15px;
}

#favoriteCheckBox + span
{
    margin-left: 5px;
}

#sorting 
{
    background-color: darkorange;
    color: white;
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 2px;
}
#settingsFreeSearch
{
    margin-bottom: 2px;
}