.home-page {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .home-page .div {
        background-color: #eeeeee;
        height: 1080px;
        position: relative;
        width: 1920px;
    }

    .home-page .overlap {
        height: 441px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1920px;
    }

    .home-page .group {
        height: 49px;
        left: 12px;
        position: absolute;
        top: 392px;
        width: 588px;
    }

    .home-page .text-wrapper {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 421px;
    }

    .home-page .text-wrapper-2 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 456px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 7px;
        white-space: nowrap;
        width: 128px;
    }

    .home-page .overlap-group {
        height: 426px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1920px;
    }

    .home-page .header {
        background-color: #ffffff;
        height: 119px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1920px;
    }

    .home-page .image {
        height: 113px;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 6px;
        width: 445px;
    }

    .home-page .nav-bar {
        background-color: var(--primary);
        height: 113px;
        left: 486px;
        overflow: hidden;
        position: absolute;
        top: 3px;
        width: 980px;
    }

    .home-page .about-button {
        align-items: flex-start;
        display: inline-flex;
        gap: 29.81px;
        height: 127px;
        left: 618px;
        padding: 53.67px 98.39px;
        position: absolute;
        top: -14px;
    }

    .home-page .text-wrapper-3 {
        color: #000000;
        font-family: "Inter-Regular", Helvetica;
        font-size: 35.8px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        margin-bottom: -20.35px;
        margin-top: -2.98px;
        position: relative;
        width: fit-content;
    }

    .home-page .overlap-group-2 {
        height: 138px;
        left: 0;
        position: absolute;
        top: -14px;
        width: 618px;
    }

    .home-page .div-wrapper {
        align-items: flex-start;
        display: flex;
        gap: 29.81px;
        height: 138px;
        left: 298px;
        padding: 53.67px 98.39px;
        position: absolute;
        top: 0;
        width: 320px;
    }

    .home-page .text-wrapper-4 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 35.8px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        margin-bottom: -8.35px;
        margin-right: -17.78px;
        margin-top: -2.98px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }

    .home-page .home-button {
        align-items: flex-start;
        background-color: #ffffff;
        display: inline-flex;
        gap: 29.81px;
        height: 138px;
        left: 0;
        padding: 53.67px 98.39px;
        position: absolute;
        top: 0;
    }

    .home-page .text-wrapper-5 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 35.8px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        margin-bottom: -8.35px;
        margin-top: -2.98px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }

    .home-page .img {
        height: 64px;
        left: 1670px;
        position: absolute;
        top: 26px;
        width: 71px;
    }

    .home-page .text-wrapper-6 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 31.9px;
        font-weight: 400;
        left: 1779px;
        letter-spacing: 0.51px;
        line-height: normal;
        position: absolute;
        top: 40px;
        white-space: nowrap;
        width: 162px;
    }

    .home-page .group-2 {
        height: 308px;
        left: 769px;
        position: absolute;
        top: 118px;
        width: 1122px;
    }

    .home-page .star {
        height: 42px;
        left: 0;
        position: absolute;
        top: 266px;
        width: 282px;
    }

    .home-page .vector {
        height: 42px;
        left: 240px;
        position: absolute;
        top: 0;
        width: 40px;
    }

    .home-page .text-wrapper-7 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 6px;
        white-space: nowrap;
        width: 225px;
    }

    .home-page .overlap-2 {
        height: 48px;
        left: 961px;
        position: absolute;
        top: 0;
        width: 157px;
    }

    .home-page .rectangle {
        background-color: #ffffff;
        border: 1.78px solid;
        border-color: #a6a6a6;
        border-radius: 8px;
        height: 44px;
        left: 0;
        position: absolute;
        top: 0;
        width: 144px;
    }

    .home-page .text-wrapper-8 {
        color: #212121;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 42.8px;
        font-weight: 400;
        left: 22px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 135px;
    }

    .home-page .text-wrapper-9 {
        color: var(--indigo);
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 759px;
        letter-spacing: -0.64px;
        line-height: normal;
        position: absolute;
        top: 6px;
        white-space: nowrap;
    }

    .home-page .group-3 {
        height: 210px;
        left: 615px;
        position: absolute;
        top: 54px;
        width: 489px;
    }

    .home-page .c {
        height: 42px;
        left: 316px;
        position: absolute;
        top: 0;
        width: 175px;
    }

    .home-page .vector-2 {
        height: 42px;
        left: 133px;
        position: absolute;
        top: 0;
        width: 40px;
    }

    .home-page .text-wrapper-10 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 6px;
        white-space: nowrap;
        width: 123px;
    }

    .home-page .developer {
        height: 42px;
        left: 249px;
        position: absolute;
        top: 42px;
        width: 242px;
    }

    .home-page .vector-3 {
        height: 42px;
        left: 200px;
        position: absolute;
        top: 0;
        width: 40px;
    }

    .home-page .text-wrapper-11 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 4px;
        white-space: nowrap;
        width: 190px;
    }

    .home-page .embeded {
        height: 42px;
        left: 0;
        position: absolute;
        top: 48px;
        width: 236px;
    }

    .home-page .vector-4 {
        height: 42px;
        left: 194px;
        position: absolute;
        top: 0;
        width: 40px;
    }

    .home-page .text-wrapper-12 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 4px;
        white-space: nowrap;
        width: 180px;
    }

    .home-page .overlap-group-3 {
        height: 81px;
        left: 0;
        position: absolute;
        top: 90px;
        width: 236px;
    }

    .home-page .software {
        height: 42px;
        left: 0;
        position: absolute;
        top: 0;
        width: 236px;
    }

    .home-page .text-wrapper-13 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 5px;
        white-space: nowrap;
        width: 174px;
    }

    .home-page .backend {
        height: 42px;
        left: 0;
        position: absolute;
        top: 39px;
        width: 236px;
    }

    .home-page .python {
        height: 42px;
        left: 0;
        position: absolute;
        top: 6px;
        width: 236px;
    }

    .home-page .text-wrapper-14 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 2px;
        white-space: nowrap;
        width: 179px;
    }

    .home-page .overlap-3 {
        height: 83px;
        left: 251px;
        position: absolute;
        top: 84px;
        width: 240px;
    }

    .home-page .frontend {
        height: 42px;
        left: 0;
        position: absolute;
        top: 0;
        width: 240px;
    }

    .home-page .vector-5 {
        height: 42px;
        left: 198px;
        position: absolute;
        top: 0;
        width: 40px;
    }

    .home-page .fullstack {
        height: 42px;
        left: 3px;
        position: absolute;
        top: 41px;
        width: 237px;
    }

    .home-page .vector-6 {
        height: 42px;
        left: 195px;
        position: absolute;
        top: 0;
        width: 40px;
    }

    .home-page .tester {
        height: 42px;
        left: 255px;
        position: absolute;
        top: 168px;
        width: 236px;
    }

    .home-page .polygon {
        height: 10px;
        left: 2px;
        position: absolute;
        top: 3px;
        width: 19px;
    }

    .home-page .search-bar {
        height: 61px;
        left: 17px;
        position: absolute;
        top: 253px;
        width: 1222px;
    }

    .home-page .overlap-4 {
        background-color: #ffffff;
        border: 1.78px solid;
        border-color: #a6a6a6;
        border-radius: 8px;
        height: 58px;
        left: 0;
        position: absolute;
        top: 3px;
        width: 567px;
    }

    .home-page .text-wrapper-15 {
        color: #212121;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 42.8px;
        font-weight: 400;
        left: 20px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: -2px;
        white-space: nowrap;
        width: 277px;
    }

    .home-page .rectangle-2 {
        background-color: #ffffff;
        border: 1.78px solid;
        border-color: #a6a6a6;
        border-radius: 8px;
        height: 60px;
        left: 752px;
        position: absolute;
        top: 1px;
        width: 234px;
    }

    .home-page .rectangle-3 {
        background-color: #ffffff;
        border: 1.78px solid;
        border-color: #a6a6a6;
        border-radius: 8px;
        height: 60px;
        left: 986px;
        position: absolute;
        top: 0;
        width: 234px;
    }

    .home-page .text-wrapper-16 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 839px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 217px;
        white-space: nowrap;
        width: 105px;
    }

    .home-page .text-wrapper-17 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1094px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 217px;
        white-space: nowrap;
        width: 47px;
    }

    .home-page .text-wrapper-18 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 794px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 262px;
        white-space: nowrap;
        width: 182px;
    }

    .home-page .text-wrapper-19 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1028px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 262px;
        white-space: nowrap;
        width: 182px;
    }

    .home-page .table {
        height: 529px;
        left: 11px;
        position: absolute;
        top: 441px;
        width: 1907px;
    }

    .home-page .overlap-5 {
        height: 642px;
        position: relative;
    }

    .home-page .overlap-6 {
        height: 642px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1907px;
    }

    .home-page .card-container {
        border: 2.31px solid;
        border-color: #efeffd;
        border-radius: 23.14px 23.14px 0px 0px;
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 519px;
        left: 3px;
        position: absolute;
        top: 10px;
        width: 1904px;
    }

    .home-page .card-container-2 {
        background-color: #2980b9;
        border-radius: 14.36px 14.36px 0px 0px;
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 76px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1904px;
    }

    .home-page .frame {
        height: 443px;
        left: 4px;
        position: absolute;
        top: 85px;
        width: 1903px;
    }

    .home-page .overlap-wrapper {
        background-color: #ffffff;
        height: 78px;
        left: 0;
        position: absolute;
        top: -9px;
        width: 1905px;
    }

    .home-page .overlap-7 {
        height: 77px;
        left: 162px;
        position: relative;
        width: 2105px;
    }

    .home-page .frame-2 {
        height: 43px;
        left: 0;
        position: absolute;
        top: 24px;
        width: 2105px;
    }

    .home-page .overlap-8 {
        height: 94px;
        left: -164px;
        position: absolute;
        top: -26px;
        width: 725px;
    }

    .home-page .card-container-3 {
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 93px;
        left: 0;
        position: absolute;
        top: 1px;
        width: 398px;
    }

    .home-page .text-wrapper-20 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 8px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 24px;
        width: 390px;
    }

    .home-page .text-wrapper-21 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 343px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 382px;
    }

    .home-page .overlap-group-4 {
        height: 43px;
        left: 578px;
        position: absolute;
        top: -2px;
        width: 649px;
    }

    .home-page .text-wrapper-22 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 401px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 1px;
        width: 249px;
    }

    .home-page .text-wrapper-23 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 424px;
    }

    .home-page .vector-7 {
        height: 42px;
        left: 1607px;
        position: absolute;
        top: 0;
        width: 40px;
    }

    .home-page .image-2 {
        height: 77px;
        left: 1661px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 83px;
    }

    .home-page .overlap-group-wrapper {
        height: 67px;
        left: 0;
        position: absolute;
        top: 70px;
        width: 1905px;
    }

    .home-page .overlap-9 {
        height: 70px;
        left: 177px;
        position: relative;
        top: -1px;
        width: 2105px;
    }

    .home-page .frame-3 {
        height: 43px;
        left: 0;
        position: absolute;
        top: 25px;
        width: 2105px;
    }

    .home-page .overlap-group-5 {
        height: 93px;
        left: -170px;
        position: absolute;
        top: -24px;
        width: 718px;
    }

    .home-page .text-wrapper-24 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 336px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .home-page .card-container-4 {
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 93px;
        left: 6px;
        position: absolute;
        top: 0;
        width: 398px;
    }

    .home-page .text-wrapper-25 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 390px;
    }

    .home-page .text-wrapper-26 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 564px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 422px;
    }

    .home-page .vector-8 {
        height: 42px;
        left: 1593px;
        position: absolute;
        top: 1px;
        width: 40px;
    }

    .home-page .image-3 {
        height: 68px;
        left: 1646px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 83px;
    }

    .home-page .text-wrapper-27 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 966px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 28px;
        width: 249px;
    }

    .home-page .frame-4 {
        background-color: #ffffff;
        height: 72px;
        left: 0;
        position: absolute;
        top: 140px;
        width: 1905px;
    }

    .home-page .overlap-10 {
        height: 73px;
        left: 162px;
        position: relative;
        width: 2105px;
    }

    .home-page .overlap-group-6 {
        height: 93px;
        left: -164px;
        position: absolute;
        top: -25px;
        width: 728px;
    }

    .home-page .text-wrapper-28 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 346px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .home-page .card-container-5 {
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 93px;
        left: 0;
        position: absolute;
        top: 0;
        width: 398px;
    }

    .home-page .text-wrapper-29 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 10px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 390px;
    }

    .home-page .text-wrapper-30 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 581px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 424px;
    }

    .home-page .image-4 {
        height: 73px;
        left: 1663px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 80px;
    }

    .home-page .text-wrapper-31 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 981px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 27px;
        width: 249px;
    }

    .home-page .frame-5 {
        height: 67px;
        left: 0;
        position: absolute;
        top: 214px;
        width: 1905px;
    }

    .home-page .overlap-11 {
        height: 69px;
        left: 162px;
        position: relative;
        top: 1px;
        width: 2105px;
    }

    .home-page .overlap-group-7 {
        height: 93px;
        left: -164px;
        position: absolute;
        top: -24px;
        width: 731px;
    }

    .home-page .text-wrapper-32 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 349px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .home-page .text-wrapper-33 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 8px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 390px;
    }

    .home-page .text-wrapper-34 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 582px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 424px;
    }

    .home-page .vector-9 {
        height: 42px;
        left: 1607px;
        position: absolute;
        top: 1px;
        width: 40px;
    }

    .home-page .image-5 {
        height: 68px;
        left: 1663px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 80px;
    }

    .home-page .text-wrapper-35 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 982px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 27px;
        width: 249px;
    }

    .home-page .frame-6 {
        background-color: #ffffff;
        height: 67px;
        left: 0;
        position: absolute;
        top: 282px;
        width: 1905px;
    }

    .home-page .overlap-12 {
        height: 45px;
        left: 161px;
        position: relative;
        top: 24px;
        width: 2105px;
    }

    .home-page .frame-7 {
        height: 43px;
        left: 0;
        position: absolute;
        top: 0;
        width: 2105px;
    }

    .home-page .overlap-group-8 {
        height: 93px;
        left: -164px;
        position: absolute;
        top: -25px;
        width: 734px;
    }

    .home-page .text-wrapper-36 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 352px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .home-page .text-wrapper-37 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 584px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 424px;
    }

    .home-page .image-6 {
        height: 91px;
        left: 1663px;
        object-fit: cover;
        position: absolute;
        top: -31px;
        width: 82px;
    }

    .home-page .vector-10 {
        height: 42px;
        left: 1608px;
        position: absolute;
        top: 0;
        width: 42px;
    }

    .home-page .text-wrapper-38 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 983px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 3px;
        width: 249px;
    }

    .home-page .frame-8 {
        height: 65px;
        left: -4px;
        position: absolute;
        top: 350px;
        width: 1905px;
    }

    .home-page .overlap-group-9 {
        height: 93px;
        left: -170px;
        position: absolute;
        top: -24px;
        width: 729px;
    }

    .home-page .text-wrapper-39 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 347px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .home-page .text-wrapper-40 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 573px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 422px;
    }

    .home-page .image-7 {
        height: 66px;
        left: 1651px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 81px;
    }

    .home-page .text-wrapper-41 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 971px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 28px;
        width: 249px;
    }

    .home-page .frame-9 {
        background-color: #ffffff;
        height: 67px;
        left: -4px;
        position: absolute;
        top: 418px;
        width: 1905px;
    }

    .home-page .overlap-13 {
        height: 45px;
        left: 162px;
        position: relative;
        top: 24px;
        width: 2105px;
    }

    .home-page .overlap-group-10 {
        height: 93px;
        left: -164px;
        position: absolute;
        top: -25px;
        width: 739px;
    }

    .home-page .text-wrapper-42 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 357px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .home-page .text-wrapper-43 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 588px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 424px;
    }

    .home-page .image-8 {
        height: 91px;
        left: 1666px;
        object-fit: cover;
        position: absolute;
        top: -34px;
        width: 82px;
    }

    .home-page .text-wrapper-44 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 987px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 3px;
        width: 249px;
    }

    .home-page .frame-10 {
        height: 65px;
        left: -4px;
        position: absolute;
        top: 485px;
        width: 1905px;
    }

    .home-page .overlap-14 {
        height: 64px;
        left: 177px;
        position: relative;
        top: 5px;
        width: 2105px;
    }

    .home-page .frame-11 {
        height: 43px;
        left: 0;
        position: absolute;
        top: 19px;
        width: 2105px;
    }

    .home-page .overlap-group-11 {
        height: 93px;
        left: -170px;
        position: absolute;
        top: -24px;
        width: 731px;
    }

    .home-page .image-9 {
        height: 64px;
        left: 1650px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 82px;
    }

    .home-page .text-wrapper-45 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 974px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 22px;
        width: 249px;
    }

    .home-page .group-4 {
        height: 83px;
        left: 346px;
        position: absolute;
        top: 27px;
        width: 114px;
    }

    .home-page .overlap-15 {
        height: 83px;
        position: relative;
        width: 112px;
    }

    .home-page .text-wrapper-46 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 98px;
    }

    .home-page .polygon-wrapper {
        height: 13px;
        left: 90px;
        position: absolute;
        top: 21px;
        width: 22px;
    }

    .home-page .polygon-2 {
        height: 10px;
        left: 1px;
        position: absolute;
        top: 3px;
        width: 19px;
    }

    .home-page .frame-12 {
        height: 36px;
        left: 85px;
        position: absolute;
        top: 27px;
        width: 1685px;
    }

    .home-page .group-5 {
        height: 36px;
        left: -80px;
        position: absolute;
        top: -2px;
        width: 207px;
    }

    .home-page .text-wrapper-47 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 176px;
    }

    .home-page .img-wrapper {
        height: 13px;
        left: 183px;
        position: absolute;
        top: 23px;
        width: 22px;
    }

    .home-page .group-6 {
        height: 83px;
        left: 1070px;
        position: absolute;
        top: 0;
        width: 132px;
    }

    .home-page .overlap-group-12 {
        height: 83px;
        position: relative;
        width: 130px;
    }

    .home-page .text-wrapper-48 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 128px;
    }

    .home-page .group-7 {
        height: 13px;
        left: 113px;
        position: absolute;
        top: 21px;
        width: 17px;
    }

    .home-page .polygon-3 {
        height: 10px;
        left: 1px;
        position: absolute;
        top: 3px;
        width: 15px;
    }

    .home-page .group-8 {
        height: 83px;
        left: 656px;
        position: absolute;
        top: 0;
        width: 173px;
    }

    .home-page .text-wrapper-49 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 148px;
    }

    .home-page .group-9 {
        height: 13px;
        left: 149px;
        position: absolute;
        top: 21px;
        width: 22px;
    }

    .home-page .group-10 {
        height: 38px;
        left: 1665px;
        position: absolute;
        top: 0;
        width: 161px;
    }

    .home-page .overlap-16 {
        height: 38px;
        position: relative;
        width: 159px;
    }

    .home-page .text-wrapper-50 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 159px;
    }

    .home-page .group-11 {
        height: 13px;
        left: 131px;
        position: absolute;
        top: 25px;
        width: 22px;
    }

    .home-page .text-wrapper-51 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 1362px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 24px;
        white-space: nowrap;
        width: 180px;
    }

    .home-page .text-wrapper-52 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 1590px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 24px;
        white-space: nowrap;
        width: 180px;
    }

    .home-page .location {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 97px;
        width: 180px;
    }

    .home-page .embedded-frontend {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 73px;
        width: 180px;
    }

    .home-page .embedded-frontend-2 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 148px;
        width: 180px;
    }

    .home-page .embedded-frontend-3 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 222px;
        width: 180px;
    }

    .home-page .embedded-frontend-4 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 292px;
        width: 180px;
    }

    .home-page .embedded-frontend-5 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 362px;
        width: 180px;
    }

    .home-page .embedded-frontend-6 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 429px;
        width: 180px;
    }

    .home-page .embedded-frontend-7 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 498px;
        width: 180px;
    }

    .home-page .embedded-frontend-8 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 564px;
        width: 180px;
    }

    .home-page .text-wrapper-53 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 176px;
        width: 180px;
    }

    .home-page .text-wrapper-54 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 253px;
        width: 180px;
    }

    .home-page .text-wrapper-55 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 325px;
        width: 180px;
    }

    .home-page .text-wrapper-56 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 392px;
        width: 180px;
    }

    .home-page .text-wrapper-57 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 458px;
        width: 180px;
    }

    .home-page .text-wrapper-58 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 527px;
        width: 180px;
    }

    .home-page .text-wrapper-59 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 593px;
        width: 180px;
    }
