.job-page {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .job-page .div-2 {
        background-color: #eeeeee;
        height: 1080px;
        overflow: hidden;
        position: relative;
        width: 1920px;
    }

    .job-page .header-instance {
        left: 0 !important;
        position: absolute !important;
        top: 0 !important;
    }

    .job-page .design-component-instance-node {
        left: 0 !important;
        width: 445px !important;
    }

    .job-page .overlap {
        height: 203px;
        left: 11px;
        position: absolute;
        top: 137px;
        width: 1909px;
    }

    .job-page .f-retag-power {
        color: #000000;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 40px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.4px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 330px;
    }

    .job-page .span {
        font-weight: 700;
    }

    .job-page .text-wrapper-4 {
        font-family: "Work Sans-Regular", Helvetica;
    }

    .job-page .overlap-2 {
        height: 201px;
        left: 0;
        position: absolute;
        top: 2px;
        width: 1909px;
    }

    .job-page .contact-name-livs {
        color: #000000;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 40px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.4px;
        line-height: normal;
        position: absolute;
        top: 58px;
        width: 1909px;
    }

    .job-page .role-software {
        color: #000000;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 1423px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 406px;
    }

    .job-page .text-wrapper-5 {
        color: #0000ee;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 40px;
        font-weight: 400;
        left: 1432px;
        letter-spacing: 0.4px;
        line-height: normal;
        position: absolute;
        text-decoration: underline;
        top: 53px;
        width: 377px;
    }

    .job-page .location-bor-s {
        color: #000000;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 40px;
        font-weight: 400;
        left: 362px;
        letter-spacing: 0.4px;
        line-height: normal;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 425px;
    }

    .job-page .tags-python {
        color: #000000;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 40px;
        font-weight: 400;
        left: 802px;
        letter-spacing: 0.4px;
        line-height: normal;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 599px;
    }

    .job-page .beskrivning-looking {
        color: #000000;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 40px;
        font-weight: 400;
        left: 28px;
        letter-spacing: 0.4px;
        line-height: normal;
        position: absolute;
        top: 340px;
        width: 1860px;
    }
