#searchStuff{
    width:100%;
    display:grid;
    grid-template:"w1 row1 aa" "auto row2 newest "/1fr auto 1fr ;
    justify-items:end;
}

#searchRow{
    display:grid;
    grid-template-columns: 4fr 4fr 2fr;
}

#searchRow input:first-child{
    border-radius: 10px 0 0 10px;
}

#searchRow input:last-child{
    border-radius: 0 10px 10px 0;
}

#dates
{
    border: none;
    outline: none;
}

#homeSearchJobs {
    width: 350px;
    border: none;
    outline: none;
}

#homeSearchLocation {
    border: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 350px;
    outline: none;
}

#homeSearchFields {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    height: 54px;
    background-color: #e0e0e0;
    width: fit-content;
    grid-area:search;
}

.area {
    background-color: #e0e0e0;
    margin-top: 5px;
    width: fit-content;
    grid-area:row2;
    width:100%;
}

.row1{
    display:flex;
    grid-area:row1;
}

.searchGroup1{
    display:flex;
    justify-content: space-evenly;
    
}

#companies
{
    font-weight: bold;
    line-height: 35px;
}


button {
    border-radius: 10px;
    padding: 5px;
}

button
{
    margin-left: 5px;
}

#favoriteCheckBox + span {
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    line-height: 35px;
}

#sorting {
    background-color: deepskyblue;
    color: white;
    width: 100px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    grid-area:newest;
    margin-right:20%;
}

.andMode
{
    margin-left: 5px;
    font-weight: bold;
    line-height: 35px;
}

/*#sortingContainer
{
    margin-left: auto;
}*/

.upArrow{
    width:0;
    height:0;

    border-left:12px solid transparent;
    border-right:12px solid transparent;

    border-bottom: 12px solid black;
}

.downArrow{
    width:0;
    height:0;

    border-left:12px solid transparent;
    border-right:12px solid transparent;

    border-top: 12px solid black;
}

.rightArrow{
    width:0;
    height:0;

    border-top:12px solid transparent;
    border-bottom:12px solid transparent;

    border-left: 12px solid black;
}

.arrowSort{
    display:flex;
    align-items:center;
}

.arrowSort > span{
    margin-left:4px;
}
