#searchStuff{
    display: flex;
    justify-content: center;
    /*width:fit-content;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/

}

#searchRow{
    display:grid;
    grid-template-columns: 4fr 4fr 2fr;
}

#dates
{
    border: none;
    outline: none;
}

#homeSearchJobs {
    width: 350px;
    border: none;
    outline: none;
}

#homeSearchLocation {
    border: none;
    border-left: 2px solid deepskyblue;
    width: 350px;
    outline: none;
}

#homeSearchFields {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 54px;
    background-color: #e0e0e0;
    width: fit-content;
}

.area {
    background-color: #e0e0e0;
    display: flex;
    margin-top: 5px;
    width: 100%;
    justify-content: space-around;
}

#companies
{
    font-weight: bold;
    line-height: 35px;
}

#searchStuff > div{
    display: flex;
}

button, #homeSearchJobs, #homeSearchLocation, #settingsFreeSearch, #dates {
    border-radius: 10px;
    padding: 5px;
}

button
{
    margin-left: 5px;
}

#favoriteCheckBox + span {
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    line-height: 35px;
}

#sorting {
    background-color: deepskyblue;
    color: white;
    width: 100px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
}

.andMode
{
    margin-left: 5px;
    font-weight: bold;
    line-height: 35px;
}

/*#sortingContainer
{
    margin-left: auto;
}*/

.upArrow{
    width:0;
    height:0;

    border-left:12px solid transparent;
    border-right:12px solid transparent;

    border-bottom: 12px solid black;
}

.downArrow{
    width:0;
    height:0;

    border-left:12px solid transparent;
    border-right:12px solid transparent;

    border-top: 12px solid black;
}

.rightArrow{
    width:0;
    height:0;

    border-top:12px solid transparent;
    border-bottom:12px solid transparent;

    border-left: 12px solid black;
}

.arrowSort{
    display:flex;
    align-items:center;
}

.arrowSort > span{
    margin-left:4px;
}
