#SettingsFreeSearch {
    margin-right: 400px;
    height: 40px;
    width: 350px;
}
#SettingsAddTags
{
    height:40px;
    width: 350px;
}
#SettingsSearchForm {
    display: flex;
    justify-content: space-between;
}
#AddSettings
{
    margin-inline: 4px;
    height: 30px;
    width: 50px;
}
#SettingsDeleteButton
{
    margin-right: 50px;
}
#AddTagAndButton
{
    margin-inline: 400px;
}
table {
    text-align: center;
}
td {
    vertical-align: middle;
}
