#SettingsFreeSearch {
    margin-right: 800px;
    height: 40px;
    width: 350px;
}
#SettingsAddTags
{
    height:40px;
    width: 350px;
}
#SettingsSearchForm {
    display: flex;
    justify-content: space-between;
}
#AddSettings
{
    margin-inline: 4px;
    height: 30px;
    width: 50px;
}
#SettingsDeleteButton
{
    margin-inline: 1000px;
}
#AddTagAndButton
{
    margin-inline: 200px;
}
table tbody tr
{
    margin: 50px;
    font-size: 20px;
}