.settings-page {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .settings-page .div-2 {
        background-color: #eeeeee;
        height: 1080px;
        position: relative;
        width: 1920px;
    }

    .settings-page .header-instance {
        left: 0 !important;
        position: absolute !important;
        top: 0 !important;
    }

    .settings-page .design-component-instance-node {
        left: 0 !important;
        width: 445px !important;
    }

    .settings-page .table {
        height: 547px;
        left: 6px;
        position: absolute;
        top: 365px;
        width: 1907px;
    }

    .settings-page .overlap {
        height: 547px;
        position: relative;
    }

    .settings-page .card-container {
        border: 2.31px solid;
        border-color: #efeffd;
        border-radius: 23.14px 23.14px 0px 0px;
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 537px;
        left: 3px;
        position: absolute;
        top: 10px;
        width: 1904px;
    }

    .settings-page .card-container-2 {
        background-color: #2980b9;
        border-radius: 14.36px 14.36px 0px 0px;
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 79px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1904px;
    }

    .settings-page .frame {
        height: 458px;
        left: 4px;
        position: absolute;
        top: 88px;
        width: 1903px;
    }

    .settings-page .overlap-wrapper {
        background-color: #ffffff;
        height: 92px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1905px;
    }

    .settings-page .overlap-2 {
        height: 85px;
        left: 162px;
        position: relative;
        top: 3px;
        width: 2105px;
    }

    .settings-page .overlap-group-wrapper {
        height: 43px;
        left: 0;
        position: absolute;
        top: 21px;
        width: 2105px;
    }

    .settings-page .overlap-group-2 {
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 93px;
        left: -164px;
        position: relative;
        top: -25px;
        width: 398px;
    }

    .settings-page .text-wrapper-4 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 11px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 23px;
        white-space: nowrap;
        width: 359px;
    }

    .settings-page .img {
        height: 85px;
        left: 1624px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 85px;
    }

    .settings-page .frame-2 {
        height: 91px;
        left: 0;
        position: absolute;
        top: 92px;
        width: 1905px;
    }

    .settings-page .overlap-3 {
        height: 85px;
        left: 148px;
        position: relative;
        top: 3px;
        width: 2105px;
    }

    .settings-page .div-3 {
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 93px;
        left: -164px;
        position: relative;
        top: -24px;
        width: 398px;
    }

    .settings-page .text-wrapper-5 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 21px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 23px;
        white-space: nowrap;
        width: 263px;
    }

    .settings-page .image-2 {
        height: 85px;
        left: 1638px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 85px;
    }

    .settings-page .frame-3 {
        background-color: #ffffff;
        height: 92px;
        left: 0;
        position: absolute;
        top: 183px;
        width: 1905px;
    }

    .settings-page .text-wrapper-6 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 12px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 23px;
        white-space: nowrap;
        width: 165px;
    }

    .settings-page .frame-4 {
        height: 91px;
        left: 0;
        position: absolute;
        top: 275px;
        width: 1905px;
    }

    .settings-page .overlap-4 {
        height: 85px;
        left: 13px;
        position: relative;
        top: 3px;
        width: 2254px;
    }

    .settings-page .card-container-wrapper {
        height: 43px;
        left: 149px;
        position: absolute;
        top: 21px;
        width: 2105px;
    }

    .settings-page .text-wrapper-7 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 19px;
        white-space: nowrap;
        width: 165px;
    }

    .settings-page .image-3 {
        height: 85px;
        left: 1773px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 85px;
    }

    .settings-page .overlap-5 {
        height: 179px;
        left: 0;
        position: absolute;
        top: 367px;
        width: 1905px;
    }

    .settings-page .frame-5 {
        height: 91px;
        left: 0;
        position: absolute;
        top: 88px;
        width: 1905px;
    }

    .settings-page .overlap-6 {
        height: 85px;
        left: 8px;
        position: relative;
        top: 3px;
        width: 2259px;
    }

    .settings-page .frame-6 {
        height: 43px;
        left: 154px;
        position: absolute;
        top: 21px;
        width: 2105px;
    }

    .settings-page .image-4 {
        height: 85px;
        left: 1778px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 85px;
    }

    .settings-page .frame-7 {
        background-color: #ffffff;
        height: 91px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1905px;
    }

    .settings-page .text-wrapper-8 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 37px;
        font-weight: 400;
        left: 12px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 23px;
        white-space: nowrap;
        width: 246px;
    }

    .settings-page .frame-8 {
        background-color: #ffffff;
        height: 91px;
        left: 0;
        position: absolute;
        top: 548px;
        width: 1905px;
    }

    .settings-page .overlap-7 {
        height: 76px;
        left: 162px;
        position: relative;
        top: 3px;
        width: 2105px;
    }

    .settings-page .image-5 {
        height: 76px;
        left: 1624px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 85px;
    }

    .settings-page .group-wrapper {
        height: 37px;
        left: 85px;
        position: absolute;
        top: 28px;
        width: 1685px;
    }

    .settings-page .group-2 {
        height: 36px;
        left: -59px;
        position: relative;
        width: 178px;
    }

    .settings-page .text-wrapper-9 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 176px;
    }

    .settings-page .group-3 {
        height: 74px;
        left: 18px;
        position: absolute;
        top: 261px;
        width: 567px;
    }

    .settings-page .overlap-8 {
        background-color: #ffffff;
        border: 1.78px solid;
        border-color: #a6a6a6;
        border-radius: 8px;
        height: 74px;
        position: relative;
        width: 565px;
    }

    .settings-page .text-wrapper-10 {
        color: var(--indigo);
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 5px;
        letter-spacing: -0.64px;
        line-height: normal;
        position: absolute;
        top: 10px;
        width: 474px;
    }

    .settings-page .button-primary {
        all: unset;
        background-color: #2980b9;
        border-radius: 10.08px;
        box-shadow: 0px 8.19px 2.73px -5.46px #0e0e2c1a, inset 0px -1.37px 0px #0e0e2c66;
        box-sizing: border-box;
        height: 66px;
        left: 587px;
        overflow: hidden;
        position: absolute;
        top: 265px;
        width: 103px;
    }

    .settings-page .button-content {
        all: unset;
        box-sizing: border-box;
        height: 32px;
        left: 32px;
        position: relative;
        top: 16px;
        width: 48px;
    }

    .settings-page .label {
        color: var(--white);
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 21.8px;
        font-weight: 700;
        height: 26px;
        left: 0;
        letter-spacing: 0.87px;
        line-height: normal;
        position: absolute;
        top: 2px;
        white-space: nowrap;
    }

    .settings-page .search-bar {
        height: 74px;
        left: 846px;
        position: absolute;
        top: 254px;
        width: 570px;
    }

    .settings-page .overlap-9 {
        background-color: #ffffff;
        border: 1.78px solid;
        border-color: #a6a6a6;
        border-radius: 8px;
        height: 74px;
        position: relative;
        width: 568px;
    }

    .settings-page .text-wrapper-11 {
        color: #212121;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 42.8px;
        font-weight: 400;
        left: 20px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: 14px;
        white-space: nowrap;
        width: 277px;
    }
