#SettingsFreeSearch {
    height: 40px;
    width: 350px;
    border-radius: 10px;
    padding: 5px;
}

#SettingsAddTags {
    height: 40px;
    width: 350px;
    border-radius: 10px;
    padding: 5px;
}

#SettingsSearchForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

#AddSettings 
{
    background-color: darkorange;
    color: white;
    width: 70px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 2px;
}

#SettingsDeleteButton
{
    margin-right: 50px;
}

#AddTagAndButton
{
}

table {
    text-align: center;
}
