.grid-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr; /* Adjust the widths as needed */
    background-color: #2980b9;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: white;
}

.text, .name {
    padding: 8px;
    text-align: center;
    border-right: 1px solid #ccc;
}

    .grid-header-cell:last-child {
        border-right: none; /* Remove border for the last cell */
    }

    .grid-header-cell.text {
        flex: 1;
    }

    .grid-header-cell.name {
        flex: 2;
        cursor: pointer;
    }

.body {
    display: flex;
    flex-direction: column;
}

.gridHome {
    display: grid;
    align-items:end;
    grid-template-areas:
        "jobTitle jobTitle star"
        "test null date";
    grid-template-columns: 30% auto 10%;
    grid-template-rows:auto 40px;
}
.desciptionGrid{
    grid-area:test;
    display:flex;
}

.textName{
    grid-area:company;
}
.textLocation{
    grid-area:location;
}
.star{
    grid-area:star;
}
.exclude{
    grid-area:exclude;
    width:15px;
    height:15px;
    border:0;
    padding:0;
}
.exclude img{
    height:inherit;
    width:inherit;
}
.textDate{
    grid-area:date;
}
.jobTitle{
    grid-area:jobTitle;
    font-size:40px;
}

.row1 {
    padding: 5px;
    border: 1px solid #ccc;
    grid-area:row1;
    width:100%
}

.row2 {
    padding: 5px;
    border: 1px solid #ccc;
    grid-area:row2;
    display: grid;
    grid-template: "a b c d"/50% auto auto auto;
}
/*.textLocation, .boxFavorite, .boxExcluded, .textDate
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}*/

.cell {
    padding: 5px;
    text-align: center;
}

.row:nth-child(odd) {
    background-color: #f9f9f9;
}

.row:nth-child(even) {
    background-color: #fff;
}

input[type="checkbox"] {
    display: block;
}

/*Needed for settings and excluded page, dont remove the css under */

html, #root {
    background-color: #F5F5F5;
}

.ascending {
    background-color: red;
}

.descending {
    background-color: green;
}

thead {
    background-color: #2980b9;
    box-shadow: 0px 3.01px 12.04px #00000024;
    height: 45px;
    width: 100%;
}

th {
    color: white;
}

thead tr th:first-child {
    border-top-left-radius: 10px;
}

thead tr th:last-child {
    border-top-right-radius: 10px;
}

table .row2:nth-child(even) {
    background-color: #F5F5F5;
}

table .row2:nth-child(odd) {
    background-color: white;
}

table {
    height: 2vh;
    width: 100%;
}