.name{
    width:50%;
}

table .row2:nth-child(odd){
    background-color:red;
}
.table {
    height: 529px;
    width: 1907px;
}

    .table .overlap {
        height: 642px;
        position: relative;
    }

    .table .overlap-group {
        height: 642px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1907px;
    }

    .table .card-container {
        border: 2.31px solid;
        border-color: #efeffd;
        border-radius: 23.14px 23.14px 0px 0px;
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 519px;
        left: 3px;
        position: absolute;
        top: 10px;
        width: 1904px;
    }

    .table .div {
        background-color: #2980b9;
        border-radius: 14.36px 14.36px 0px 0px;
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 76px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1904px;
    }

    .table .frame {
        height: 443px;
        left: 4px;
        position: absolute;
        top: 85px;
        width: 1903px;
    }

    .table .overlap-wrapper {
        background-color: #ffffff;
        height: 78px;
        left: 0;
        position: absolute;
        top: -9px;
        width: 1905px;
    }

    .table .overlap-2 {
        height: 77px;
        left: 162px;
        position: relative;
        width: 2105px;
    }

    .table .frame-2 {
        height: 43px;
        left: 0;
        position: absolute;
        top: 24px;
        width: 2105px;
    }

    .table .overlap-3 {
        height: 94px;
        left: -164px;
        position: absolute;
        top: -26px;
        width: 725px;
    }

    .table .card-container-2 {
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 93px;
        left: 0;
        position: absolute;
        top: 1px;
        width: 398px;
    }

    .table .text-wrapper {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 8px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 24px;
        width: 390px;
    }

    .table .text-wrapper-2 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 343px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 382px;
    }

    .table .overlap-group-2 {
        height: 43px;
        left: 578px;
        position: absolute;
        top: -2px;
        width: 649px;
    }

    .table .text-wrapper-3 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 401px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 1px;
        width: 249px;
    }

    .table .text-wrapper-4 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 424px;
    }

    .table .vector {
        height: 42px;
        left: 1607px;
        position: absolute;
        top: 0;
        width: 40px;
    }

    .table .image {
        height: 77px;
        left: 1661px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 92px;
    }

    .table .overlap-group-wrapper {
        height: 67px;
        left: 0;
        position: absolute;
        top: 70px;
        width: 1905px;
    }

    .table .overlap-4 {
        height: 70px;
        left: 177px;
        position: relative;
        top: -1px;
        width: 2105px;
    }

    .table .frame-3 {
        height: 43px;
        left: 0;
        position: absolute;
        top: 25px;
        width: 2105px;
    }

    .table .overlap-group-3 {
        height: 93px;
        left: -170px;
        position: absolute;
        top: -24px;
        width: 718px;
    }

    .table .text-wrapper-5 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 336px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .table .card-container-3 {
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 93px;
        left: 6px;
        position: absolute;
        top: 0;
        width: 398px;
    }

    .table .text-wrapper-6 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 390px;
    }

    .table .text-wrapper-7 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 564px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 422px;
    }

    .table .img {
        height: 42px;
        left: 1593px;
        position: absolute;
        top: 1px;
        width: 40px;
    }

    .table .image-2 {
        height: 68px;
        left: 1646px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 92px;
    }

    .table .text-wrapper-8 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 966px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 28px;
        width: 249px;
    }

    .table .div-wrapper {
        background-color: #ffffff;
        height: 72px;
        left: 0;
        position: absolute;
        top: 140px;
        width: 1905px;
    }

    .table .overlap-5 {
        height: 73px;
        left: 162px;
        position: relative;
        width: 2105px;
    }

    .table .overlap-group-4 {
        height: 93px;
        left: -164px;
        position: absolute;
        top: -25px;
        width: 728px;
    }

    .table .text-wrapper-9 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 346px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .table .card-container-4 {
        box-shadow: 0px 3.01px 12.04px #00000024;
        height: 93px;
        left: 0;
        position: absolute;
        top: 0;
        width: 398px;
    }

    .table .text-wrapper-10 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 10px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 390px;
    }

    .table .text-wrapper-11 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 581px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 424px;
    }

    .table .image-3 {
        height: 73px;
        left: 1663px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 91px;
    }

    .table .text-wrapper-12 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 981px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 27px;
        width: 249px;
    }

    .table .frame-4 {
        height: 67px;
        left: 0;
        position: absolute;
        top: 214px;
        width: 1905px;
    }

    .table .overlap-6 {
        height: 69px;
        left: 162px;
        position: relative;
        top: 1px;
        width: 2105px;
    }

    .table .overlap-group-5 {
        height: 93px;
        left: -164px;
        position: absolute;
        top: -24px;
        width: 731px;
    }

    .table .text-wrapper-13 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 349px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .table .text-wrapper-14 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 8px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 390px;
    }

    .table .text-wrapper-15 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 582px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 424px;
    }

    .table .vector-2 {
        height: 42px;
        left: 1607px;
        position: absolute;
        top: 1px;
        width: 40px;
    }

    .table .image-4 {
        height: 68px;
        left: 1663px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 91px;
    }

    .table .text-wrapper-16 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 982px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 27px;
        width: 249px;
    }

    .table .frame-5 {
        background-color: #ffffff;
        height: 67px;
        left: 0;
        position: absolute;
        top: 282px;
        width: 1905px;
    }

    .table .overlap-7 {
        height: 45px;
        left: 161px;
        position: relative;
        top: 24px;
        width: 2105px;
    }

    .table .frame-6 {
        height: 43px;
        left: 0;
        position: absolute;
        top: 0;
        width: 2105px;
    }

    .table .overlap-group-6 {
        height: 93px;
        left: -164px;
        position: absolute;
        top: -25px;
        width: 734px;
    }

    .table .text-wrapper-17 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 352px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .table .text-wrapper-18 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 584px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 424px;
    }

    .table .image-5 {
        height: 91px;
        left: 1663px;
        object-fit: cover;
        position: absolute;
        top: -31px;
        width: 92px;
    }

    .table .vector-3 {
        height: 42px;
        left: 1608px;
        position: absolute;
        top: 0;
        width: 42px;
    }

    .table .text-wrapper-19 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 983px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 3px;
        width: 249px;
    }

    .table .frame-7 {
        height: 65px;
        left: -4px;
        position: absolute;
        top: 350px;
        width: 1905px;
    }

    .table .overlap-group-7 {
        height: 93px;
        left: -170px;
        position: absolute;
        top: -24px;
        width: 729px;
    }

    .table .text-wrapper-20 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 347px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .table .text-wrapper-21 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 573px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 422px;
    }

    .table .image-6 {
        height: 66px;
        left: 1651px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 92px;
    }

    .table .text-wrapper-22 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 971px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 28px;
        width: 249px;
    }

    .table .frame-8 {
        background-color: #ffffff;
        height: 67px;
        left: -4px;
        position: absolute;
        top: 418px;
        width: 1905px;
    }

    .table .overlap-8 {
        height: 45px;
        left: 162px;
        position: relative;
        top: 24px;
        width: 2105px;
    }

    .table .overlap-group-8 {
        height: 93px;
        left: -164px;
        position: absolute;
        top: -25px;
        width: 739px;
    }

    .table .text-wrapper-23 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 357px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 23px;
        width: 382px;
    }

    .table .text-wrapper-24 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 588px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: -2px;
        width: 424px;
    }

    .table .image-7 {
        height: 91px;
        left: 1666px;
        object-fit: cover;
        position: absolute;
        top: -34px;
        width: 92px;
    }

    .table .text-wrapper-25 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 987px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 3px;
        width: 249px;
    }

    .table .frame-9 {
        height: 65px;
        left: -4px;
        position: absolute;
        top: 485px;
        width: 1905px;
    }

    .table .overlap-9 {
        height: 66px;
        left: 177px;
        position: relative;
        top: 5px;
        width: 2105px;
    }

    .table .frame-10 {
        height: 43px;
        left: 0;
        position: absolute;
        top: 19px;
        width: 2105px;
    }

    .table .overlap-group-9 {
        height: 93px;
        left: -170px;
        position: absolute;
        top: -24px;
        width: 731px;
    }

    .table .image-8 {
        height: 66px;
        left: 1650px;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 92px;
    }

    .table .text-wrapper-26 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 974px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 22px;
        width: 249px;
    }

    .table .group {
        height: 83px;
        left: 346px;
        position: absolute;
        top: 27px;
        width: 114px;
    }

    .table .overlap-10 {
        height: 83px;
        position: relative;
        width: 112px;
    }

    .table .text-wrapper-27 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 98px;
    }

    .table .polygon-wrapper {
        height: 13px;
        left: 90px;
        position: absolute;
        top: 21px;
        width: 22px;
    }

    .table .polygon {
        height: 10px;
        left: 1px;
        position: absolute;
        top: 3px;
        width: 19px;
    }

    .table .frame-11 {
        height: 36px;
        left: 85px;
        position: absolute;
        top: 27px;
        width: 1685px;
    }

    .table .group-2 {
        height: 36px;
        left: -80px;
        position: absolute;
        top: -2px;
        width: 207px;
    }

    .table .text-wrapper-28 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 176px;
    }

    .table .img-wrapper {
        height: 13px;
        left: 183px;
        position: absolute;
        top: 23px;
        width: 22px;
    }

    .table .group-3 {
        height: 83px;
        left: 1070px;
        position: absolute;
        top: 0;
        width: 132px;
    }

    .table .overlap-group-10 {
        height: 83px;
        position: relative;
        width: 130px;
    }

    .table .text-wrapper-29 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 128px;
    }

    .table .group-4 {
        height: 13px;
        left: 113px;
        position: absolute;
        top: 21px;
        width: 17px;
    }

    .table .polygon-2 {
        height: 10px;
        left: 1px;
        position: absolute;
        top: 3px;
        width: 15px;
    }

    .table .group-5 {
        height: 83px;
        left: 656px;
        position: absolute;
        top: 0;
        width: 173px;
    }

    .table .text-wrapper-30 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        width: 148px;
    }

    .table .group-6 {
        height: 13px;
        left: 149px;
        position: absolute;
        top: 21px;
        width: 22px;
    }

    .table .group-7 {
        height: 38px;
        left: 1665px;
        position: absolute;
        top: 0;
        width: 161px;
    }

    .table .overlap-11 {
        height: 38px;
        position: relative;
        width: 159px;
    }

    .table .text-wrapper-31 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 159px;
    }

    .table .group-8 {
        height: 13px;
        left: 131px;
        position: absolute;
        top: 25px;
        width: 22px;
    }

    .table .location {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 1362px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 24px;
        white-space: nowrap;
        width: 180px;
    }

    .table .text-wrapper-32 {
        color: #ffffff;
        font-family: "Work Sans-Bold", Helvetica;
        font-size: 37px;
        font-weight: 700;
        left: 1590px;
        letter-spacing: 0.37px;
        line-height: normal;
        position: absolute;
        top: 24px;
        white-space: nowrap;
        width: 180px;
    }

    .table .location-2 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 97px;
        width: 180px;
    }

    .table .embedded-frontend {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 73px;
        width: 180px;
    }

    .table .embedded-frontend-2 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 148px;
        width: 180px;
    }

    .table .embedded-frontend-3 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 222px;
        width: 180px;
    }

    .table .embedded-frontend-4 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 292px;
        width: 180px;
    }

    .table .embedded-frontend-5 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 362px;
        width: 180px;
    }

    .table .embedded-frontend-6 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 429px;
        width: 180px;
    }

    .table .embedded-frontend-7 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 498px;
        width: 180px;
    }

    .table .embedded-frontend-8 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 17px;
        font-weight: 400;
        left: 1570px;
        letter-spacing: 0.17px;
        line-height: normal;
        position: absolute;
        top: 564px;
        width: 180px;
    }

    .table .location-3 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 176px;
        width: 180px;
    }

    .table .location-4 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 253px;
        width: 180px;
    }

    .table .location-5 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 325px;
        width: 180px;
    }

    .table .location-6 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 392px;
        width: 180px;
    }

    .table .location-7 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 458px;
        width: 180px;
    }

    .table .location-8 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 527px;
        width: 180px;
    }

    .table .location-9 {
        color: #000000;
        font-family: "Work Sans-Regular", Helvetica;
        font-size: 32px;
        font-weight: 400;
        left: 1362px;
        letter-spacing: 0.32px;
        line-height: normal;
        position: absolute;
        top: 593px;
        width: 180px;
    }
