.gridHome {
    display: grid;
    align-items: end;
    grid-template-areas:
        "jobTitle jobTitle star"
        "test null date";
    grid-template-columns: auto auto 10%;
    grid-template-rows: auto 40px;
    border: 3px solid #f0f0f0;
    border-radius: 9px;
    margin-top: 10px;
    padding-left: 5px;
    border-width: 5px;
    cursor: pointer;
    /*background-color: #e0e0e0;*/
}

.desciptionGrid{
    grid-area:test;
    display:flex;
    align-items:center;
}

.desciptionGrid button{
    background-color:white;
}

img{
    vertical-align:top;
}

.textName{
    grid-area:company;
}

.textLocation{
    grid-area:location;
}

.star{
    grid-area:star;
}

.exclude{
    grid-area:exclude;
    width:15px;
    height:15px;
    border:0;
    padding:0;
    margin-left:7px;
    margin-right:12px;
}

.exclude img{
    height:inherit;
    width:inherit;

}

.textDate{
    grid-area:date;
}

.jobTitle{
    grid-area:jobTitle;
    font-size:40px;
    transition: font-size 0.2s;
}
.gridHome:hover 
{
    border: 5px solid deepskyblue;
}

label[for]
{
    margin-left: 5px;
}