/* Provide sufficient contrast against white background */

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-color: #e0e0e0;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container{
    padding-left:20px;
    padding-right:20px;
    max-width:10000px;
}

html{
    overflow-y:scroll;
}
